<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>    
    <meta charset="UTF-8">
    <meta name="viewpoint"
    content="width=device-width, initial-scale=1.0">
    <title> Sistema de gestão e comunicação para repartições públicas - Administrador </title>
    <link rel="shortcut icon" href="{% static 'favicon/favicon-16x16.png'%}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static './js/jquery-ui-1.13.0/jquery-ui.min.css' %}">

    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.13.0/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/moment.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    

</head>
<body>
    <header>
        <div class="logo-usuario">
            <img src="{% static 'favicon/univesp_logo_160x58.jpg' %}" alt="logo-univesp">
            <p>Bem vindo ADMINISTRADOR </p>
            <p>{{ Funcionario.nome }} </p>
            <a class="logout_icone" href = "{% url 'logout' %}"> Logout </a>
        </div>        
    </header>
        <hr>
        <table class="calendario"> 
            <thead>
                <tr>
                    <th colspan="2">
                        <h2>CALENDÁRIO - QUADRO DE AVISOS</h2>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>                       
                        <div>Seus agendamentos:</div>                       
                        <div class="list">
                            <table  id="tblAgendamentos">
                                <tr>
                                  <th>Data</th>
                                  <th>Horário</th>
                                  <th>Pauta</th>
                                  <th></th>
                                  <th></th>
                                </tr>     
                                {% for ag in agendamentos %}
                                    <tr>
                                        <td>{{ ag.ts_agenda.date }}</td>
                                        <td>{{ ag.ts_agenda.time }}</td>
                                        <td>{{ ag.pauta_agenda }}</td>
                                        <td>
                                            <button onclick="editar_aviso()">Alterar ou Excluir</button>
                                            <div id="divEditarAviso" style="display: none">
                                                <form form action="{% url 'administrador' %}" method="POST">
                                                {% csrf_token %}
                                                    <h1>Editar Agenda</h1>
                                                    <div class="agenda">
                                                        <div class="Editar_agenda">
                                                            <p>Informe da data:</p>
                                                            <div><input type="date" id="datepicker1"></div>
                                                            <label for="appt">Horário:</label>
                                                            <input type="time" id="appt" name="appt" min="09:00" max="18:00" required>
                                                            <p>Pauta</p>
                                                            <p><textarea rows="5" cols="40" maxlength="500"></textarea>
                                                            </p>
                                                            <p>
                                                                <input class="adicionar_agenda" type="submit" value="Alterar">
                                                                <input class="adicionar_agenda" type="submit" value="Excluir">
                                                            </p>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>                           
                        </div>  
                        <button onclick="incluir_aviso()">Incluir Agenda</button>
                            <div id="divIncluirAviso" style="display: none">
                                <form form action="{% url 'administrador' %}" method="POST">
                                    {% csrf_token %}
                                    <h1>Incluir Agenda</h1>
                                    <div class="agenda">
                                        <div class="adicionar_agenda">
                                            <p>Informe da data:</p>
                                            <div><input type="text" id="datepicker2"></div>
                                            <label for="appt1">Horário:</label>
                                            <input type="time" id="appt1" name="appt1" min="09:00" max="18:00" required>
                                            <p>Pauta</p>
                                            <textarea id="pauta_agenda3" rows="5" cols="40" maxlength="500"></textarea>
                                            <p>
                                                <button onclick="gravar_aviso()" input class="adicionar_agenda" value="Gravar"> Salvar</button>
                                            </p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                    </td>
                    <td>
                        <thead>
                            <tr>
                                <th colspan="2">
                                    <h2>QUADRO DE FÉRIAS</h2>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div>
                                        <h2>Férias Agendadas</h2>
                                        <table id="tblFeriasAagendadas">
                                        <tr>
                                            <th>Nome Funcionário</th>
                                            <th>Data início Férias</th>
                                            <th>Data final das Férias</th>
                                            <th>Status</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        {% for lst in ferias_agendadas %}
                                            <tr>
                                                <td>{{ lst.funcionario.nome }}</td>
                                                <td>{{ lst.data_inicio }}</td>
                                                <td>{{ lst.data_fim }}</td>
                                                <td>{{ lst.status }}</td>
                                                <td>
                                                    <button onclick="editar_ferias()">Editar Férias</button>
                                                    <div id="divEditar_Ferias" style="display: none">
                                                        <form method="get">
                                                            <label for="ferias-select">Escolha o intervalo de férias:</label>
                                                            <select name="periodo" id="intervalo_ferias1">
                                                                <option value="">--Please choose an option--</option>
                                                                <option value="30dias">30 dias de Férias</option>
                                                                <option value="15dias">15 dias/ 15 dias de Férias</option>
                                                                <option value="20dias">20 dias de Férias com 10 dias de abono</option>
                                                            </select>

                                                            <table>
                                                                <tr>
                                                                <th>Informe da data de início:</th>
                                                                <th>data final das férias</th>
                                                                </tr>
                                                                <tr>
                                                                <td>
                                                                    <div><input type="text" id="datepicker3"></div>
                                                                </td>
                                                                <td>Sistema tem que calcular a data de final das férias conforme a opcção selecionada (30 dias ou 15/15 ou 20 </td>
                                                                </tr>
                                                            </table>
                                                            <input class="adicionar_agenda" type="submit" value="Gravar">
                                                        </form>
                                                    </div>
                                                </td>
                                                <td>
                                                    <button onclick="excluir_ferias()">Excluir Férias</button>
                                                    <div class="divExcluir_Ferias" style="display: none">
                                                        <select name="status" id="status_select">
                                                            <option value="">--Please choose an option--</option>
                                                            <option value="aprovado">Aprovado</option>
                                                            <option value="reprovado">Reprovado</option>
                                                        </select>
                                                        <input class="adicionar_status" type="submit" value="Salvar">
                                                    </div>
                                                </td>
                                            </tr>

                                        {% endfor %}
                                        </table>
                                     </div>
                                    <button onclick="listar_np_ferias()">Listar novos pedidos de férias</button>
                                    <div id="divListarFerias" style="display: none">
                                        <form method="get">
                                            <table class="lst_solicitacao">
                                                <tr>
                                                    <th>Nome Funcionário</th>
                                                    <th>Data início Férias</th>                                            <th>Data final das Férias</th>
                                                    <th>
                                                        <label for="status_select">Aprovar/Reprovar Férias</label>
                                                    </th>
                                                    <th></th>
                                                </tr>
                                                <tr>
                                                    <td>João XXX</td>
                                                    <td>15/11/2021</td>
                                                    <td>30/11/2021</td>
                                                    <td>                                                    
                                                        <select name="status" id="status_select">
                                                            <option value="">--Please choose an option--</option>
                                                            <option value="aprovado">Aprovado</option>
                                                            <option value="reprovado">Reprovado</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input class="adicionar_status" type="submit" value="Salvar">
                                                    </td>
                                                </tr>
                                            </table>
                                        </form>
                                    </div>   
                                    <button onclick="solicitar_ferias()">Solicitar Férias</button>
                                    <div id="divSolicitar_Ferias" style="display: none">
                                        <form>
                                            <label for="ferias-select">Escolha o intervalo de férias:</label>
                                            <select name="periodo" id="intervalo_ferias2">
                                                <option value="">--Please choose an option--</option>
                                                <option value="30">30 dias de Férias</option>
                                                <option value="15">15 dias/ 15 dias de Férias</option>
                                                <option value="20">20 dias de Férias com 10 dias de abono</option>
                                            </select>
                                        
                                            <table>
                                                <tr>
                                                  <th>Informe da data de início:</th>                           
                                                  <th>data final das férias</th>
                                                </tr>
                                                <tr>
                                                  <td>
                                                      <div><input type="date" id="datepicker4"></div>
                                                  </td>
                                                  <td>
                                                    <div><input class="form-control" id="disabledInput" type="date" name="data_fim" disabled=""></div>
                                                    <input class="solicitar_ferias" type="submit" value="Salvar" onsubmit="gravar_ferias()">
                                                  </td>
                                                </tr>
                                              </table>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </td>
                </tr>
            </tbody>
        </table>
  </body>
</html>