{% load static %}

<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>    
    <meta charset="UTF-8">
    <meta name="viewpoint"
    content="width=device-width, initial-scale=1.0">
    <title> Sistema de gestão e comunicação para repartições públicas - Logout</title>
    <link rel="shortcut icon" href="{% static 'favicon/favicon-16x16.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <main>
        <br>
        <h1>Sistema de gestão e comunicação para repartições públicas</h1>  
      
        <hr>
        <div class="logo">
            <img src="{% static 'favicon/logo_univesp 343x132.png' %}" alt="Logo_univesp" >
        </div>
        
    <h1>Seção encerrada!</h1>
        
    <hr>
    </main>
</body>
</html>