<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>    
    <meta charset="UTF-8">
    <meta name="viewpoint"
    content="width=device-width, initial-scale=1.0">
    <title> Sistema de gestão e comunicação para repartições públicas - Usuário</title>
    <link rel="shortcut icon" href="{% static 'favicon/favicon-16x16.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <link rel="stylesheet" href="{% static './js/jquery-ui-1.13.0/jquery-ui.min.css' %}">

    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.13.0/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/moment.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    
</head>
<body>
    <header>
        <div class="logo-usuario">
            <img src="{% static 'favicon/univesp_logo_160x58.jpg' %}" alt="logo-univesp">
            <h1>Bem vindo </h1>
            <p> {{ Funcionario.nome }} </p>
            <a class="logout_icone" href = "{% url 'logout' %}"> Logout </a>
        </div>        
    </header>
    <hr>
    <table class="calendario"> 
        <thead>
            <tr>
                <th colspan="2">
                    <h2>CALENDÁRIO - QUADRO DE AVISOS</h2>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>                       
                    <div>Seus agendamentos:</div>
                    <div class="list">
                        <table  id="tblAgendamentos">
                            <tr>
                              <th>Data</th>
                              <th>Horário</th>
                              <th>Pauta</th>

                            </tr>
                            {% for ag in agendamentos %}
                                <tr>
                                    <td>{{ ag.ts_agenda.date }}</td>
                                    <td>{{ ag.ts_agenda.time }}</td>
                                    <td>{{ ag.pauta_agenda }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </td>

                <td>
                    <thead>
                        <tr>
                            <th colspan="2">
                                <h2>QUADRO DE FÉRIAS</h2>
                                <!--<ol>
                                <li>Visualiza a intenção de férias já cadastradas</li>
                                <li>Cadastro de intenção de férias</li>
                                <li>Alterar</li>
                                <li>Excluir</li> -->
                            </th>
                        </tr>
                    </thead>
                </td>
                    <tbody>
                        <tr>
                            <td>
                                <div>
                                    <h2 id="h2_ferias">Férias Agendadas</h2>
                                    <table id="tblFeriasAagendadas()">
                                        <tbody>
                                            <tr>
                                                <th>Nome Funcionário</th>
                                                <th>Data início Férias</th>
                                                <th>Data final das Férias</th>
                                                <th>Status</th>

                                            </tr>
                                            {% for feria in ferias_agendadas %}
                                                <tr>
                                                    <td>{{ feria.funcionario.nome }}</td>
                                                    <td>{{ feria.data_inicio }}</td>
                                                    <td>{{ feria.data_fim }}</td>
                                                    <td>{{ feria.status }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <div>
                                        <button onclick="solicitar_ferias()">Solicitar Férias</button>
                                        <form action="{% url 'solicitar_ferias' %}" method="POST">
                                            {% csrf_token %}
                                            <div id="divSolicitar_Ferias" >
                                                <label for="intervalo_ferias2">Escolha o intervalo de férias:</label>
                                                <select name="periodo" id="intervalo_ferias2">
                                                    <option value="">--Please choose an option--</option>
                                                    <option value="30" >30 dias de Férias</option>
                                                    <option value="15">15 dias/ 15 dias de Férias</option>
                                                    <option value="20">20 dias de Férias com 10 dias de abono</option>
                                                </select>
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <th>Informe da data de início:</th>
                                                        </tr>
                                                        <tr>
                                                          <td>
                                                            <div><input type="date" id="datepicker4" name="data_inicio"></div>
                                                          </td>
                                                          <td>
                                                              <input class="solicitar_ferias" type="submit" value="Salvar" onsubmit="gravar_ferias()">
                                                          </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>