<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>    
    <meta charset="UTF-8">
    <meta name="viewpoint"
    content="width=device-width, initial-scale=1.0">
    <title> Sistema de gestão e comunicação para repartições públicas - Usuário</title>
    <link rel="shortcut icon" href="{% static 'favicon/favicon-16x16.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <link rel="stylesheet" href="{% static './js/jquery-ui-1.13.0/jquery-ui.min.css' %}">

    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.13.0/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/moment.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    
</head>
<body>
    <header>
        <div class="logo-usuario">
            <img src="{% static 'favicon/univesp_logo_160x58.jpg' %}" alt="logo-univesp">
            <p>Bem vindo USUÁRIO "FULANO DE TAL"</p>
        </div>        
    </header>
    <hr>
    <hr>
    <table class="calendario"> 
        <thead>
            <tr>
                <th colspan="2">
                    <h2>CALENDÁRIO - QUADRO DE AVISOS</h2>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>                       
                    <div>Seus agendamentos:</div>
                    <div class="list">
                        <table  id="tblAgendamentos">
                            <tr>
                              <th>Data</th>
                              <th>Horário</th>
                              <th>Pauta</th>
                              <th></th>
                              <th></th>
                            </tr>
                            <tr>
                              <td>25/11/2021</td>
                              <td>10:00 AM</td>
                              <td>Reunião com diretoria</td>
                            </tr>
                        </table>                           
                    </div>  
                </td>
                <td>
                    <thead>
                        <tr>
                            <th colspan="2">
                                <h2>QUADRO DE FÉRIAS</h2>
                                <!--<ol>
                                <li>Visualiza a intenção de férias já cadastradas</li>
                                <li>Cadastro de intenção de férias</li>
                                <li>Alterar</li>
                                <li>Excluir</li> -->
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div>
                                    <h2>Férias Agendadas</h2>
                                    <table id="tblFeriasAagendadas">
                                    <tr>
                                        <th>Nome Funcionário</th>
                                        <th>Data início Férias</th>
                                        <th>Data final das Férias</th>
                                        <th>Status</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <td>João XXX</td>
                                        <td>15/11/2021 </td> 
                                        <td>30/11/2021</td>
                                        <td>Aprovado</td>                                            
                                    </tr>
                                    </table>
                                 </div>
                                <button onclick="solicitar_ferias()">Solicitar Férias</button>
                                <div id="divSolicitar_Ferias" style="display: none">
                                    <form>
                                        <label for="ferias-select">Escolha o intervalo de férias:</label>
                                        <select name="periodo" id="intervalo_ferias2">
                                            <option value="">--Please choose an option--</option>
                                            <option value="30">30 dias de Férias</option>
                                            <option value="15">15 dias/ 15 dias de Férias</option>
                                            <option value="20">20 dias de Férias com 10 dias de abono</option>
                                        </select>
                                    
                                        <table>
                                            <tr>
                                              <th>Informe da data de início:</th>                           
                                              <th>data final das férias</th>
                                            </tr>
                                            <tr>
                                              <td>
                                                <div><input type="text" id="datepicker4"></div>  
                                              </td>
                                              <td>Sistema tem que calcular a data de final das férias conforme a opcção selecionada (30 dias ou 15/15 ou 20 </td>
                                            </tr>
                                          </table>
                                          <button onclick="gravar_ferias()" input class="adicionar_agenda" value="Gravar"> Salvar</button>
                                    </form>
                                </div>
                                
                            </td>
                        </tr>
                    </tbody>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>